Body {
    padding: 0;
    margin: 0;
    background-color: rgb(1, 174, 134);
    color: rgb(0, 0, 0);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(1, 174, 134);
    
    
}
li { 
    float: left;
    
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    font-weight: bolder ;
    font-size: 22px;
    text-decoration: none;
    
}
#homebuttons:hover {
    background-color: rgb(0, 85, 255);
    color: white;
    opacity: 61%;
}



.topsection {

    background-color: rgb(216, 248, 204);
    
    margin: 0;
   
    
}

H1 {
    font-size: 120px;
    margin-bottom: 0px ;
}
h2 {
    font-size: 30px;

}

a {
    text-decoration: none;
    color: rgb(39, 182, 154)
}

#quote { 
    
    font-size: 30px;
    border-style: dashed;
    width: 600px;
    border-color: black;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;

    
    
}
#author {
    float: right;
}
#shuffle { 
   border-style:solid;
   width: 300px;
   text-align: center;
   font-size: 30px;
   background-color: rgb(255, 225, 0);
   top: 75%;
   right: 42%;
   margin: auto;


}

#shuffle:hover {
    background-color: black;
    border-style:none;
    color: white;
    border-style: dotted;
    border-color: white;

}

.allprojects {
    width: 320px;
    height: 200px;
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    
    margin: 10px;
}

#access_project {
    border: 1px dashed white;
    padding: 0px;
    background-color: rgb(255, 225, 0);
    color: black;
}
#access_project:hover {
    background-color: black;
    color: white;

}
